<h1>Editing Book</h1>
<%= form_with model:@book, url:books_path(@book.id), local:true do |f| %>
  <div class="field">
    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <h4>Body</h4>
    <%= f.text_area :body %>
  </div>
  <div class="actions"><%= f.submit 'Update Book' , class: "actions" %></div>
<% end %>
  
  <%= link_to "Show", book_path(@book.id) %>
  |
  <%= link_to "Back", books_path %>